@model IEnumerable<WebsiteAdmission.Models.Post>
@using WebsiteAdmission.Common

@if (Model.Any())
{

    <div class="row6">
        <div class="thongtincanbiet_r6">
            <div class="title_lkdh">
                <p><b>@Model.FirstOrDefault().SubCategory.Name</b></p>
            </div>
            <div class="cover_newtt">
                @foreach (var item in Model.OrderByDescending(x => x.PostID).Take(6))
                {
                    <div class="new_tt">
                        <div class="icon_last">
                            <img src="@(Constants.ImagesPosts.GetDescription() + item.PostID + '/' + item.CoverImage)" alt="@item.Title">
                        </div>
                        <div class="content_icon">
                            <a href="">@item.Title</a>
                        </div>
                        <div class="line_icon"> </div>
                    </div>
                }

            </div>
        </div>
    </div>
}