@model IEnumerable<WebsiteAdmission.Models.Post>
<link rel="stylesheet" href="~/Content/styles/tuvan.css" type="text/css" />
<div class="row3">
    <div class="row3-left">
        <div class="phanloaicauhoi">
            <div class="title_phanloai">
                <p>@Model.First().SubCategory.Name</p>
            </div>
            <div class="button_phanloai">
                @{ int i = 1;}
                @foreach (var item in Model.OrderBy(s => s.PublishedTime))
                {
                    <a href="@Url.Action("Feedback", "Page", new { postID = item.PostID, postTitle = item.Title })"
                       class="btn_phanloaicauhoi button @(i == 1 ? "red" : "")">@item.Title</a>
                    i++;
                }
            </div>
        </div>
    </div>
    <div id="cauhoiphobien">

    </div>
</div>
<script>
    // init ajax right
    $(document).ready(function () {
        var $firstItem = $('.btn_phanloaicauhoi').eq(0);
        var url = $firstItem.prop('href');
        $.ajax({
            url: url,
            success: function (data) {
                $('#cauhoiphobien').html(data);
            },
        });
    });
    // /init ajax right
    $('.btn_phanloaicauhoi').click(function (e) {
        e.preventDefault();
        $('.btn_phanloaicauhoi').removeClass('red');
        $(this).addClass('red');
        var url = $(this).prop('href');
        $.ajax({
            url: url,
            success: function (data) {
                $('#cauhoiphobien').html(data);
            },
        });
    });
</script>